* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.bg-primary{
  background-color: #2F27CE;
} */
.placeholder-italic-custom::placeholder {
  font-style: italic;
}

.bg-primary{
  color: #004AAD;
}
